/* ====================================
// css variables
// ==================================== */
/* font-family: 'Sorts Mill Goudy', serif; */
:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Libre Franklin', sans-serif;
  margin: auto;
  max-width: 320px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  display: block;
}

/* ====================================
// base rules
// ==================================== */


header nav {
  padding: 20px 70px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: solid;
}

.start-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe-tag {
  font-size: 11px;
  font-weight: 700;
  line-height: 1.3;
  color: white;
  background-color: red;
  border-radius: 50px;
  text-align: center;
  padding: 0 15px;
  margin: 15px 85px;
}

h1 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin: 15px 30px;
}

.recipe-intro {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  margin: 20px;
}

.recipe-name {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

main {
  background-color: whitesmoke;
  padding: 30px 15px;
}

h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

hr {
  border: 1px solid black;
}

figure {
  padding: 15px 0;
}

figcaption {
  background-color: white;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  padding: 25px;
}

.recipe-border {
  border: 1px solid lightgrey;
}

footer {
  background-color: black;
  padding: 30px 15px;
}

footer h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  line-height: 1.2;
  color: white;
}

.end-container {
  color: white;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}